:root {
	--blue: #1e90ff;
	--white: #ffffff;
	--colorA: #700961;
	--colorB: #b80d57;
	--colorC: #e03e36;
	--colorD: #ff7c38;
}

header {
	display: flex;
	justify-content: space-between;
}

header img {
	height: 35px;
	margin-left: 5px;
	margin-right: 5px;
	opacity: 0.9;
}

.card .card-header h2 button {
	color: white;
	font-size: 1.2rem;
}

.card-header button i {
	color: white;
}

.card-body {
	max-width: 70%;
	padding: 5px 5px;
	color: #444;
}
.card-body h5 {
	font-size: 0.9em;
}

.card-body h5:first-letter {
	text-transform: capitalize;
}
.material-icons {
	font-size: 22px;
}

.collapse {
	display: flex;
}

.collapse i {
	color: #555;
}

.collapse button {
	font-size: 0.8rem;
	padding: 10px;
}

#headButtons {
	display: flex;
	justify-content: space-between;
}

#headButtons button {
	font-size: 0.7em;
	padding-left: 4px;
	padding-right: 4px;
	margin-left: 1px;
	margin-right: 1px;
	margin-bottom: 0px;
	background-color: var(--colorA);
	color: #ffffff;
}

.card-header {
	padding: 5px 20px;
	display: flex;
	justify-content: space-between;
}

.card-header h2 {
	font-size: 20px;
	text-shadow: 1px 1px 0 #222;
}

#app {
	font-family: futura, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 20px;
}

img {
	margin-bottom: 10px;
	border-radius: 100px;
	box-shadow: 2px 2px 6px 1px #999;
}

.card-pendientes .card-header {
	background-color: var(--colorB);
}

.card-proceso .card-header {
	background-color: var(--colorC);
}

.card-completadas .card-header {
	background-color: var(--colorD);
}
