header {
	display: flex;
	justify-content: space-between;
}

header img {
	height: 35px;
	margin-left: 5px;
	margin-right: 5px;
	opacity: 0.9;
}

.card .card-header h2 button {
	color: white;
	font-size: 1.2rem;
}

.card-header button i {
	color: white;
}

.card-body {
	max-width: 70%;
	padding: 5px 18px;
	color: #444;

}

.card-body h3:first-letter {
	text-transform: capitalize;
}
.material-icons {
	font-size: 25px;
}

.collapse {
	display: flex;
}

.collapse i {
	color: #555;
}

.collapse button {
	font-size: 0.8rem;
	padding: 0px;
}

#headButtons {
	display: flex;
	justify-content: space-between;
}

#headButtons button {
	font-size: 0.7em;
	padding-left: 4px;
	padding-right: 4px;
	margin-left: 1px;
	margin-right: 1px;
	margin-bottom: 0px;
}

.card-header {
	padding: 5px 20px;
	display: flex;
	justify-content: space-between;
}

.card-header h2 {
	font-size: 20px;
}

.card-body {
	
}

#app {
	font-family: futura, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 20px;
  }
  img {
	margin-bottom: 10px;
	border-radius: 100px;
	box-shadow: 4px 4px 6px 1px #999;
  }